rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() { return request.auth != null; }
    function isHost() { return isSignedIn() && request.auth.token.role == "host"; }
    function isMember(sessionId) {
      return isSignedIn() &&
        exists(/databases/$(database)/documents/sessions/$(sessionId)/players/$(request.auth.uid));
    }

    match /sessions/{sessionId} {
      allow read: if isHost() || isMember(sessionId);

      allow create: if isHost();
      allow update: if isHost();
      allow delete: if isHost();

      match /players/{uid} {
        allow read: if isHost() || (isSignedIn() && request.auth.uid == uid);
        allow write: if false;
      }

      match /private/{docId} {
        allow read, write: if isHost();
      }

      match /events/{eventId} {
        allow read: if isHost();
        allow write: if isHost();
      }
    }
  }
}
